@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);






#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#header4-0 P {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}
#header4-0 H1 {
  font-family: 'Lora', serif;
  font-size: 60px;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #252525;
  font-size: 20px;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .mbr-article {
  text-align: left;
}
#msg-box3-0 .mbr-article P {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #777777;
}
#social-buttons1-0 .mbr-header__text {
  font-family: 'Indie Flower', cursive;
}
